<div class="decides-popup decides-popup-ortho hide">
    <div class="container">
        <div class="decides-popup-inner">

            <div class="close-decides"><i class="icon-close"></i></div>

            <h4 class="decides-popup-title">Ортодонтия</h4>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Консультация стоматолога-терапевта</p>
                <p class="price-green">1000 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Консультация стоматолога-терапевта (При записи на консультацию с лечением)</p>
                <p class="price-red">0 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Эстетико-функциональное восстановление зуба на уровне эмали</p>
                <p class="price-green">6 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Консультация стоматолога-терапевта</p>
                <p class="price-green">1000 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Эстетико-функциональное восстановление зуба на уровне дентина</p>
                <p class="price-green">8 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Неинвазивное лечение кариеса системой ICON</p>
                <p class="price-green">5 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Лечение пульпита фронтального зуба с эстетико-функциональным восстановлением</p>
                <p class="price-green">23 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Лечение пульпита жевательного зуба с эстетико-функциональным восстановлением</p>
                <p class="price-green">31 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Периодонтит</p>
                <p class="price-green">от 26 800 р</p>
            </div>
            <h4 class="decides-popup-title child">Детская ортодонтия</h4>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Консультация детского стоматолога</p>
                <p class="price-green">500 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Консультация детского стоматолога (При записи на консультацию с лечением)</p>
                <p class="price-red">0 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Лечение кариеса временного (молочного) зуба</p>
                <p class="price-green">4 900 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Лечение пульпита временного (молочного) зуба</p>
                <p class="price-green">8 500 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Ортопантомограмма цифровая</p>
                <p class="price-green">650 р</p>
            </div>
            <div class="decides-popup-item">
                <p class="decides-popup-text">Компьютерная 3D-томография</p>
                <p class="price-green">1 000 - 2 900 р</p>
            </div>

            <a href="javascript:void(0)" class="sign-up-decides-popup">Отправить заявку</a>
        </div>
    </div>
    
</div>