<div class="doctor-popup hide">
    <div class="container">
        <div class="doctor-popup-inner">

            <div class="close-doctor"><i class="icon-close"></i></div>

            <div class="doctor-popup-photo" style="background: url('img/doctor-1.jpg') no-repeat 0 0; background-size: cover"></div>
            <div class="doctor-popup-info">
                <p class="doctor-popup-name">ФЕДОРОВА<br> ДАРЬЯ ИГОРЕВНА</p>
                <p class="doctor-popup-position">Врач-стоматолог-ортодонт</p>
                <p class="doctor-info-item">Профилактика и лечение патологий прикуса у детей и взрослых.</p>
                <p class="doctor-info-item">Комплексное оперативно-ортодонтическое лечение аномалий прикуса.</p>
                <p class="doctor-info-item">Ортодонтическая подготовка к протезированию.</p>
                <p class="doctor-info-item">Ортодонтическое лечение с применением технологии элайнеров</p>
                <p class="doctor-experience">Общий стаж работы: более 9 лет</p>
            </div>
        </div>
    </div>
</div>