<footer class="footer">
    <div class="container">
        <div class="footer-inner">
            <a href="index.html" class="footer-logo"><img src="img/logo.png" alt=""></a>
            <p class="copyright">© Все права защищены 2021</p>
            <div class="footer-social">
                <a class="social-item"><i class="icon-instagram"></i></a>
                <a class="social-item"><i class="icon-facebook"></i></a>
                <a class="social-item"><i class="icon-vk"></i></a>
            </div>
        </div>
    </div>
</footer>