<header class="header">
    <div class="container">
        <div class="header-content">
            <div class="logo-nav">
                <a href="index.html" class="logo"><img src="img/logo.png" alt=""></a>
                <nav>
                    <ul>
                        <li><a href="#banner">Главная</a></li>
                        <li><a href="#about">Dental Clinic</a></li>
                        <li><a href="#decides">Услуги и цены</a></li>
                        <li><a href="#result">О клинике</a></li>
                        <li><a href="#doctors">Команда</a></li>
                        <li><a href="#contacts">Контакты</a></li>
                    </ul>
                    <div class='close-menu'><i class='icon-close'></i></div>
                </nav>
            </div>
            <div class="tel-open">
                <span class="open-menu"><i class="icon-menu"></i></span>
                <a class="tel" href="tel:+7 (900) 123-45-67"><i class="icon-tel"></i>+7 (900) 123-45-67</a>
            </div>
        </div>
    </div>
</header>