<div class="request-popup hide">
    <div class="container">
        <div class="request-popup-inner">

            <div class="close-request"><i class="icon-close"></i></div>

            <h4 class="request-title">Оставьте заявку на звонок и администратор с вами свяжется в течение 1 часа</h4>
            <form>
                <div class="input-name-group">
                  <input class="input-name" type="text" placeholder="Введите имя">
                  <i class="icon-user"></i>
                </div>
                <div class="input-phone-group">
                  <input class="input-phone" type="tel" placeholder="Введите телефон">
                  <i class="icon-tel"></i>
                </div>
                <button class="button-form sign_up_js">Отправить заявку</button>
              </form>
        </div>
    </div>
</div>