
.icon-arrow:before { content: '\e800'; } /* '' */
.icon-check:before { content: '\e801'; } /* '' */
.icon-close:before { content: '\e802'; } /* '' */
.icon-facebook:before { content: '\e803'; } /* '' */
.icon-instagram:before { content: '\e804'; } /* '' */
.icon-mail:before { content: '\e805'; } /* '' */
.icon-menu:before { content: '\e806'; } /* '' */
.icon-next:before { content: '\e807'; } /* '' */
.icon-pin:before { content: '\e808'; } /* '' */
.icon-prev:before { content: '\e809'; } /* '' */
.icon-tel:before { content: '\e80a'; } /* '' */
.icon-user:before { content: '\e80b'; } /* '' */
.icon-vk:before { content: '\e80c'; } /* '' */